@import '../../../sharedStyles/variables.scss';

.report-header {
    position: relative;
    padding: 34px 49px 10px;
    display: flex;
    justify-content: space-between;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 80px;
    height: 17px;
    right: 36px;
    top: 36px;

    &::before {
        content: 'Menu';
        position: absolute;
        top: -3px;
        right: 0;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        color: $color-main;
    }
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: $color-main;
    width: 23px;
    height: 3px!important;
    background-color: $color-main;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #352856;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  .bm-menu-wrap {
      top: 0;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    box-sizing: border-box;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .menu-item {
    margin-bottom: 12.5px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #9a8fb7;
    text-decoration: none;
  }

  @media (max-width: $screen-sm) {
    .report-header {
      padding: 18px 0 19px 13px;
      border-radius: 3px;
      background-color: #7c5cd1;
      box-shadow: 0 6px 10px 0 rgba(215, 200, 251, 0.24), 0 2px 4px 0 rgba(50, 37, 85, 0.02);
      border: solid 1px #e3d8ff;

      &__link {
        height: 21px;
      }
    }

    .bm-burger-button {
      width: 21px;
      height: 15px;
      top: 21px;
      right: 19px;

      &::before {
        content: none;
      }
    }

    .bm-burger-bars {
      background: #fff;
    }
  }