@keyframes sideBarLinkHover {
  0% {
    height: 3px;
    top: 10px; }
  25% {
    height: 9px;
    top: 8px; }
  50% {
    height: 18px;
    top: 3.5px; }
  100% {
    height: 25px;
    top: 0; } }

@keyframes fade {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

.report-footer {
  padding-top: 37px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9; }
  .report-footer__logo {
    margin: 0;
    margin-bottom: 18px;
    width: 93px; }
  .report-footer__desc {
    margin: 0;
    line-height: 22px;
    font-size: 1.6rem;
    color: #8d8693;
    text-align: center; }

@media (max-width: 767px) {
  .report-footer {
    padding: 23px 16px;
    background-color: #352856; }
    .report-footer__desc {
      opacity: 0.5;
      font-size: 1.4rem;
      text-align: center;
      color: #ffffff; }
    .report-footer__logo {
      width: 68px;
      margin-bottom: 14px; } }
