@import "../../../sharedStyles/variables.scss";

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 42px;
  background: white;

  &__logo {
    color: $color-main;
    text-decoration: none;
  }

  &__img {
    width: 116px;
  }
}

@media (max-width: $screen-sm) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5%;
  }
}