@import "../../../../sharedStyles/variables.scss";

.quiz__description {
  margin-top: 0;
  font-size: 2.4rem;
  color: $color-text;
  }

@media (max-width: $screen-sm) {
  .quiz__description {
    margin-bottom: 25px;
    font-size: 1.8rem;
    line-height: 1.5;
  }
}