@import '../../../../../sharedStyles/variables.scss';

.continue-btn {
    margin-bottom: 72px;
    padding-left: 36px;
    display: flex;
    align-items: center;

    height: 74px;
    border-radius: 3px;
    box-shadow: 0 6px 10px 0 rgba(215, 200, 251, 0.24);
    border: solid 1px #e3d8ff;
    background: #ffffff url('/static/media/right-arrow.c5356fef.svg') no-repeat calc(100% - 29px) center;
    background-size: 24px;

    line-height: 25px;
    font-size: 1.8rem;
    text-align: left;
    color: $color-text;
    text-decoration: none;

    &:hover {
        background-position: calc(100% - 15px) center;
        box-shadow: 0 2px 5px 0 $color-main;
        @include transition();
    }

    &__marked-txt {
        margin-left: 5px;
        color: $color-main;
        font-weight: bold;
    }

    &__mobile-title {
        display: none;
    }

    &__desctop-title {
        display: block;
    }
}

@media (max-width: $screen-sm) {
    .continue-btn {
        margin-bottom: 24px;
        height: 52px;
        padding-left: 18px;
        background: #ffffff url('/static/media/right-arrow.c5356fef.svg') no-repeat calc(100% - 16px) center;
        background-size: 16px;

        &__mobile-title {
            display: block;
            margin-bottom: 7px;
        }

        &__desctop-title {
            display: none;
        }
    }
}