@import "../../sharedStyles/variables.scss";

.quiz {
  display: flex;
  min-height: 100vh;

  &__left-side {
    position: relative;
    width: 70%;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__progress-top {
    display: none;
  }

  &__area {
    margin-top: 87px;
    margin-left: 11%;
    margin-right: 17%;
  }

  &__right-side {
    width: 30%;
    height: 100vh;
    background-image: radial-gradient(circle at 54% 41%, #f6f4ff, #ffffff);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    border-left: solid 1px #e7e5ef;
  }

  &__right-side-logo {
    margin-top: 68px;
    margin-bottom: 25px;
    width: 96px;
  }

  &__answers-area {
    margin-top: -40px;
    width: 100%;
    height: 100%;
    background-color: white;
  }
}

.quiz-enter {
  opacity: 0.01;
}

.quiz-enter.quiz-enter-active {
  opacity: 1;
  transition: opacity 350ms ease-in;
}

.quiz-leave {
  opacity: 1;
}

.quiz-leave.quiz-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.quiz-leave-animation {
  animation-name: quizleave;
  animation-duration: 0.5s;
}

@keyframes quizleave {
  0%   {opacity: 1;}
  25%  {opacity: 0.75;}
  50%  {opacity: 0.5;}
  75%  {opacity: 0.25;}
  100% {opacity: 0;}
}
 
  
@media (min-width: 1600px) and (min-height: 800px) {
  .quiz {
    &__area {
      margin-top: 10%;
      margin-left: 20%;
      margin-right: 17%;
    }

    &__right-side-logo {
      margin-top: 100px;
    }
  }
}


@media (max-width: 1399px) {
  .quiz {
    &__left-side {
      width: 60%;
    }

    &__right-side {
      width: 40%;
    }
  }
}

@media (max-width: $screen-md) {
  .quiz {
    &__area {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

@media (max-width: $screen-sm) {
  .quiz {
    &__left-side {
      width: 100%;
      height: auto;
      justify-content: flex-start;
    }

    &__progress-top {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
    }

    &__area {
      margin-top: 84px;
    }

    &__right-side {
      display: none;
    }
  }
}

@media (max-height: 728px) {
 .quiz {
   &__list-area {
     display: none;
   }
 }
}