/* colors */
/* global text params */
/* font */
/* breakpoints */
.quiz {
  display: flex;
  min-height: 100vh; }
  .quiz__left-side {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .quiz__area {
    margin-left: 12%;
    margin-right: 19%; }
  .quiz__right-side {
    width: 30%;
    background: #7c5cd1;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .quiz__list-area {
    margin-top: -40px;
    width: 100%;
    background-color: #352856; }

.quiz-enter {
  opacity: 0.01; }

.quiz-enter.quiz-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.quiz-leave {
  opacity: 1; }

.quiz-leave.quiz-leave-active {
  opacity: 0.01;
  transition: opacity 1ms ease-in; }

@media (min-width: 1400px) {
  .quiz__right-side {
    padding-top: 90px; } }

@media (max-width: 1399px) {
  .quiz__left-side {
    width: 60%; }
  .quiz__right-side {
    width: 40%; } }

@media (max-width: 991px) {
  .quiz__area {
    margin-left: 5%;
    margin-right: 5%; } }

@media (max-width: 767px) {
  .quiz__left-side {
    width: 100%; }
  .quiz__right-side {
    display: none; } }

@media (max-height: 728px) {
  .quiz__list-area {
    display: none; } }
