@import "../../../sharedStyles/variables.scss";


.tick-list {
  margin: 0 auto;
  padding: 0;
  width: 75%;

  &__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    opacity: 0.9;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.82;
    text-align: center;
    color: #ffffff;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
      background: url('../../../img/tick-list-border-bottom.svg') no-repeat center;
    }
  }

  &__list {
    list-style-image: url('../../../img/tick-list-icon.svg');
  }

  &__item {
    opacity: 0.9;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: -0.1px;
    color: #ffffff;
  }
}


@media (max-width: $screen-lg) {
  .tick-list {
    width: 98%;

    &__title {
      padding-top: 10px;
    }

    &__list {
      margin-top: 0;
    }

    &__item {
      font-size: 1.8rem;
      line-height: 1.7;
    }
  }
}

@media (max-width: 1399px) {
  .tick-list {
    width: 75%;

    &__item {
      font-size: 1.8rem;
      line-height: 1.7;
    }
  }
}