@import '../../sharedStyles/variables.scss';

.report-container {
    display: flex;

    &__menu-area {
        width: 268px;
    }

    &__content-area {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        width: calc(100% - 268px);
    }

    &__content-main {
        width: 780px;
        margin: auto;
    }

    &__mobile-links {
        display: none;
    }

    &__mobile-nav {
        display: none;
    }
}

@media (max-width: $screen-lg) {
    .report-container {
        &__content-main {
            width: 90%;
        }
    }
}


@media (max-width: $screen-sm) {
    .report-container {
        display: block;
    
        &__menu-area {
            display: none;
        }
    
        &__content-area {
            width: 100%;
        }

        &__content-main {
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
            box-sizing: border-box;
        }

        &__header-wrapper {
            position: fixed;
            z-index: 3;
            top: 0;
            width: 100%;
            transition: all 0.3s ease;
        }

        &__header-inVisible {
            transform: translateY(-60px);
        }

        &__mobile-links {
            display: block;
        }
        
        &__mobile-nav {
            display: block;
            width: 100%;

            & .rc-collapse-header {
                position: relative;
                padding: 13px 0 13px 13px;
                background-color: #f6f4ff;
                box-shadow: 0 2px 4px 0 rgba(49, 37, 83, 0.09);
                border: solid 1px #ebe9f4;

                font-size: 1.6rem;
                line-height: 22px;
                font-weight: bold;
                color: $color-main;

                &::before {
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    top: 16px;
                    right: 26px;
                    background: url('../../img/arrow-down-purple.svg') no-repeat center;
                    background-size: cover;
                    transition: all 0.3s ease-in;
                    transform: rotate(0deg);
                }
            }

            & .rc-collapse-item {
                border-bottom: none;
            }

            & .rc-collapse-item-active .rc-collapse-header {
                &::before {
                    transition: all 0.3s ease-in;
                    transform: rotate(180deg);
                }
            }
        }

        &__fixed-mobile-menu {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 3;
        }
    }
}