@import '../../../../../sharedStyles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i');

.quote {
    margin-left: 83px;
    padding-left: 23px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;

    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-style: italic;
    line-height: 1.7;
    color: #7c5cd1;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background-color: #f6f4ff;
        box-shadow: 0 6px 15px 0 rgba(171, 161, 196, 0.12);
    }

    &_short {
        white-space: pre;
    }

    &_text {
        margin: 0;
    }
}

@media (max-width: $screen-sm) {
    .quote {
        margin-left: 0;
        font-size: 1.8rem;
        line-height: 1.67;

        &_short {
            white-space: pre-line;
        }
    }
}