@import "../../../sharedStyles/variables.scss";

.quiz__title {
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.14;
  color: $color-main;
}

@media (max-width: $screen-md) {
  .quiz__title {
    font-size: 3.2rem;
  }
}