@import "../../../../sharedStyles/variables.scss";

.form {
  &__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.14;
    color: $color-main;

  }

  &__desc {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.14;
    color: #65606b;
  }

  &__wrapper {
    max-width: 480px;
  }

  &__input-area {
    position: relative;
    margin-bottom: 24px;

    &_arrow {
      &::before {
        content: '';
        position: absolute;
        left: -42px;
        top: -14px;
        width: 45px;
        height: 45px;
        background: url('../../../../img/arrow-left.svg') no-repeat center;
      }
    }
  }

  &__label {
    margin-bottom: 5px;
    font-size: 1.6rem;
    line-height: 1.37;
    font-weight: bold;
    color: $color-text;

    &_checkbox {
      position: relative;
      padding-left: 36px;
      line-height: 22px;
      font-size: 16px;
      text-align: left;
      font-weight: normal;

      &:hover {
        cursor: pointer;
      }

      & a {
        color: inherit;
      }

      &::before {
        position: absolute;
        content: '';
        box-sizing: border-box;
        top: -3px;
        left: 0;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.28);
        border: solid 1px $color-main;
      }

      &::after {
        display: none;
        content: '';
        position: absolute;
        top: 0px;
        left: 3px;
        width: 18px;
        height: 18px;
        background: url('../../../../img/tick-list-icon.svg') no-repeat center;
        background-size: contain;
      }
    }
  }

  &__input {
    padding: 14px 19px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.28);
    border: solid 1px #c8c8c8;

    font-family: Courier;
    font-size: 1.8rem;
    line-height: 1.22;
    color: #b3b1bb;

    &_checkbox {
      display: none;
    }

    &_checkbox:checked + label::after {
      display: block;
    }

    &:focus {
      border: solid 1px $color-main;
      outline: none;
    }
  }

  &__additional {
    font-size: 14px;
    line-height: 1.35;
    font-weight: 500;
    color: #999999;
  }

  &__additional-link {
    color: #666666;
  }
}

.input-error {
  background: lightpink;
}


@media (max-width: $screen-sm) {
  .form {
    &__title {
      font-weight: bold;
      font-size: 2.4rem;
      line-height: 1.42;
    }

    &__desc {
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 25px;
    }

    &__input-area {
      margin-bottom: 14px;

      &_arrow {
        &::before {
          content: none;
        }
      }
    }
  }
}
